#header{
    display: flex;
    background: #ffffff;
    left: 0;
    line-height: 3.5em;
    padding: 0 2em;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-sizing:border-box;
}
#header.alt {
    animation: none;
    background-color: transparent;
    box-shadow: none;
    height: 8em;
    position: absolute;
    align-items: center;
    justify-content: center;
}


#main{
    background-color: #ffffff;
    border-radius: 1.5em;
    margin: 0 auto;
    width: 70em;
    max-width: calc(100% - 4em);
}