body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: 0.05em;
  background-color: #F7F7F7;
  font-size: 16px;
  color: #6e6e6e;
  padding-top: 8rem;
  vertical-align: baseline;
  box-sizing:border-box;
}

